.post {
  margin-top: 15px;
  margin-bottom: 15px;
}
.post__header {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.post__icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 3px;
}
.post__header > p {
  font-weight: bold;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 18px;
  color: rgb(63, 63, 63);
}
.post__image {
  width: 100%;
  max-height: 100vw;
  object-fit: cover;
}
.post__iconContainer {
  display: flex;
}
.post__comment {
  padding-left: 15px;
  padding-right: 15px;
}
