.story {
  overflow: auto;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
  margin-top: 10px;
}
.story::-webkit-scrollbar {
  /* Chrome, Safari 対応 */
  display: none;
}
.story__container {
  display: flex;
}
.story__item {
  display: block;
  flex-direction: column;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}
.story__image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  padding: 3px;
  margin-top: 1.5px;
}
.story__name {
  font-size: 12px;
}
